%% -*- erlang -*-
{cover_enabled, true}.
{cover_print_enabled, true}.

{erl_opts, [
            %% warn_export_all,
            %% warn_untyped_record,
            inline_list_funcs,
            %% warn_deprecated_function,
            warn_export_vars,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_unused_function,
            warn_unused_import,
            warnings_as_errors
           ]}.

{deps, [
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}}
]}.

{lib_dirs, ["apps"]}.
{sub_dirs, ["apps/core", "apps/http_api"]}.

{xref_warnings, false}.
{xref_checks, [
               undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.
