[
 {exometer,
  [
   { predefined,
     [
      {[erlang, gc],
       {function, erlang, statistics, [garbage_collection], match, {total_collections, reclaimed_words, '_'}},
       []
      }
     ]
   },
   { report,
     [
      {subscribers,
       [
        {exometer_report_tty, [erlang, gc], total_collections, 5000, true},
        {exometer_report_tty, [erlang, gc], reclaimed_words, 5000, true}
       ]},
      {reporters,
       [
        {exometer_report_tty, []}
       ]}
     ]}
  ]}
].
